# Pandas

In [1]:
import pandas as pd

### Table(표) : DataFrame 다루기

table(표) 구성요소  
1) column  
2) index  
3) value

DataFrame과 Series  
1) Series : 열 1개의 데이터 = Vector  
2) DataFrame : 여러 열(Series)의 데이터 = Matrix

In [5]:
series = pd.Series([1, 2, 3, 4, 5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
dates = pd.date_range('20190722', periods=6)
dates

DatetimeIndex(['2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-26', '2019-07-27'],
              dtype='datetime64[ns]', freq='D')

In [7]:
dates = pd.date_range('20190722', periods=6, 
                      freq='M')
dates

DatetimeIndex(['2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [8]:
dates = pd.date_range('20190722', periods=6, 
                      freq='Y')
dates

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [11]:
#DataFrame = Matrix
import numpy as np
rand_arr = np.random.randn(6, 5)
rand_df = pd.DataFrame(rand_arr)
rand_df

          0         1         2         3         4
0 -0.431445  1.721107  0.501897 -0.323650  0.221939
1  0.954124 -0.504350  1.816743  0.647114  0.651512
2  1.076527 -1.649536  1.616412  1.381272  0.947338
3  0.905034  0.940234 -1.147800 -1.811143 -0.661600
4 -1.453631 -0.348765  1.305499 -1.594768  1.088734
5  1.758679 -0.192060 -0.287262 -1.319049 -0.720603

In [14]:
rand_df = pd.DataFrame(rand_arr, columns=['A', 'B', 'C', 'D', 'E'],
                      index=dates)
rand_df

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338
2022-12-31  0.905034  0.940234 -1.147800 -1.811143 -0.661600
2023-12-31 -1.453631 -0.348765  1.305499 -1.594768  1.088734
2024-12-31  1.758679 -0.192060 -0.287262 -1.319049 -0.720603

In [71]:
data_dict ={
    'title':['spider-man', 'aladin', 'toystory', 'lion-king'],
    'date': ['20190715', '20190615', '20190630', '20190720'],
    'genre': 'adventure'
}

movie_df = pd.DataFrame(data_dict)
movie_df

       date      genre       title
0  20190715  adventure  spider-man
1  20190615  adventure      aladin
2  20190630  adventure    toystory
3  20190720  adventure   lion-king

#### view df

In [21]:
rand_df.head(2) #상위 데이터 n개만 view; defaul = 5

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512

In [22]:
rand_df.tail(3) #하위 n개

                   A         B         C         D         E
2022-12-31  0.905034  0.940234 -1.147800 -1.811143 -0.661600
2023-12-31 -1.453631 -0.348765  1.305499 -1.594768  1.088734
2024-12-31  1.758679 -0.192060 -0.287262 -1.319049 -0.720603

In [23]:
rand_df.index

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [24]:
rand_df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [25]:
rand_df.values

array([[-0.43144476,  1.72110653,  0.50189655, -0.32365032,  0.22193875],
       [ 0.95412444, -0.50434983,  1.81674266,  0.647114  ,  0.6515123 ],
       [ 1.07652734, -1.64953575,  1.6164122 ,  1.38127224,  0.94733782],
       [ 0.90503384,  0.94023445, -1.1477998 , -1.81114312, -0.66159978],
       [-1.4536309 , -0.34876452,  1.30549888, -1.59476814,  1.08873439],
       [ 1.75867904, -0.19205971, -0.28726205, -1.31904877, -0.72060251]])

In [32]:
#통계 데이터 view
rand_df.describe() #number type에 대한 통계수치

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.468215 -0.005561  0.634248 -0.503371  0.254553
std    1.180266  1.181518  1.170975  1.301886  0.790533
min   -1.453631 -1.649536 -1.147800 -1.811143 -0.720603
25%   -0.097325 -0.465453 -0.089972 -1.525838 -0.440715
50%    0.929579 -0.270412  0.903698 -0.821350  0.436726
75%    1.045927  0.657161  1.538684  0.404423  0.873381
max    1.758679  1.721107  1.816743  1.381272  1.088734

In [31]:
rand_df.describe(include='all') #number + object

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.468215 -0.005561  0.634248 -0.503371  0.254553
std    1.180266  1.181518  1.170975  1.301886  0.790533
min   -1.453631 -1.649536 -1.147800 -1.811143 -0.720603
25%   -0.097325 -0.465453 -0.089972 -1.525838 -0.440715
50%    0.929579 -0.270412  0.903698 -0.821350  0.436726
75%    1.045927  0.657161  1.538684  0.404423  0.873381
max    1.758679  1.721107  1.816743  1.381272  1.088734

In [33]:
#rand_df.describe(include='O') #object

In [35]:
rand_df.info() #column별 type, 결측치 여부 등

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2019-12-31 to 2024-12-31
Freq: A-DEC
Data columns (total 5 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
E    6 non-null float64
dtypes: float64(5)
memory usage: 288.0 bytes

#### select df (원하는 부분만 지정)

In [36]:
#'A'column만 지정
rand_df['A']

2019-12-31   -0.431445
2020-12-31    0.954124
2021-12-31    1.076527
2022-12-31    0.905034
2023-12-31   -1.453631
2024-12-31    1.758679
Freq: A-DEC, Name: A, dtype: float64

In [38]:
#'A', 'B' column만 지정
rand_df[['A', 'B']]

                   A         B
2019-12-31 -0.431445  1.721107
2020-12-31  0.954124 -0.504350
2021-12-31  1.076527 -1.649536
2022-12-31  0.905034  0.940234
2023-12-31 -1.453631 -0.348765
2024-12-31  1.758679 -0.192060

In [39]:
#'C', 'B', 'A'column만 지정
rand_df[['C', 'B', 'A']]

                   C         B         A
2019-12-31  0.501897  1.721107 -0.431445
2020-12-31  1.816743 -0.504350  0.954124
2021-12-31  1.616412 -1.649536  1.076527
2022-12-31 -1.147800  0.940234  0.905034
2023-12-31  1.305499 -0.348765 -1.453631
2024-12-31 -0.287262 -0.192060  1.758679

In [41]:
rand_df.loc['2019-12-31'] #index name으로 접근

A   -0.431445
B    1.721107
C    0.501897
D   -0.323650
E    0.221939
Name: 2019-12-31 00:00:00, dtype: float64

In [45]:
rand_df.iloc[0] #index 순서로 접근

A   -0.431445
B    1.721107
C    0.501897
D   -0.323650
E    0.221939
Name: 2019-12-31 00:00:00, dtype: float64

In [47]:
rand_df.ix[0] #둘다 가능

A   -0.431445
B    1.721107
C    0.501897
D   -0.323650
E    0.221939
Name: 2019-12-31 00:00:00, dtype: float64

In [48]:
rand_df.ix['2019-12-31'] #둘다 가능

A   -0.431445
B    1.721107
C    0.501897
D   -0.323650
E    0.221939
Name: 2019-12-31 00:00:00, dtype: float64

##### 슬라이싱

In [55]:
col = list(rand_df)[1:4] #B, C, D
col

['B', 'C', 'D']

In [56]:
rand_df[col]

                   B         C         D
2019-12-31  1.721107  0.501897 -0.323650
2020-12-31 -0.504350  1.816743  0.647114
2021-12-31 -1.649536  1.616412  1.381272
2022-12-31  0.940234 -1.147800 -1.811143
2023-12-31 -0.348765  1.305499 -1.594768
2024-12-31 -0.192060 -0.287262 -1.319049

In [61]:
col = rand_df.columns[:4]

In [62]:
rand_df[col]

                   A         B         C         D
2019-12-31 -0.431445  1.721107  0.501897 -0.323650
2020-12-31  0.954124 -0.504350  1.816743  0.647114
2021-12-31  1.076527 -1.649536  1.616412  1.381272
2022-12-31  0.905034  0.940234 -1.147800 -1.811143
2023-12-31 -1.453631 -0.348765  1.305499 -1.594768
2024-12-31  1.758679 -0.192060 -0.287262 -1.319049

In [63]:
rand_df.loc['2019-12-31':'2021-12-31'] #0, 1, 2

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338

In [64]:
rand_df.iloc[0:3] #0, 1, 2

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338

In [69]:
rand_df.ix['2019-12-31':'2021-12-31'] #loc 과 같은 규칙

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338

In [70]:
rand_df.ix[0:3] #iloc 과 같은 규칙

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338

In [73]:
data_dict ={
    'title':['spider-man', 'aladin', 'toystory', 'lion-king'],
    'date': ['20190715', '20190615', '20190630', '20190720'],
    'genre': 'adventure'
}

movie_df = pd.DataFrame(data_dict)
movie_df

       date      genre       title
0  20190715  adventure  spider-man
1  20190615  adventure      aladin
2  20190630  adventure    toystory
3  20190720  adventure   lion-king

In [76]:
#movie_df의 index 주목해보자. index를 따로 지정하지 X -> 숫자로
#1) loc을 사용할 수 있을까? (iloc은 사용될텐데..)
movie_df.loc[0] #index를 따로 지정 X -> index 숫자 == index name

date       20190715
genre     adventure
title    spider-man
Name: 0, dtype: object

In [77]:
movie_df.loc[:2] #name

       date      genre       title
0  20190715  adventure  spider-man
1  20190615  adventure      aladin
2  20190630  adventure    toystory

In [79]:
movie_df.iloc[:2] #position (순서)

       date      genre       title
0  20190715  adventure  spider-man
1  20190615  adventure      aladin

In [82]:
#2) ix를 사용해 slicing을 한다면?
movie_df.ix[:2] #name == position, name으로 인식

       date      genre       title
0  20190715  adventure  spider-man
1  20190615  adventure      aladin
2  20190630  adventure    toystory

In [93]:
#행과 열을 같이 지정
rand_df.loc['2019-12-31':'2021-12-31', ['A', 'B']]

                   A         B
2019-12-31 -0.431445  1.721107
2020-12-31  0.954124 -0.504350
2021-12-31  1.076527 -1.649536

In [95]:
rand_df.A #원하는 열

2019-12-31   -0.431445
2020-12-31    0.954124
2021-12-31    1.076527
2022-12-31    0.905034
2023-12-31   -1.453631
2024-12-31    1.758679
Freq: A-DEC, Name: A, dtype: float64

In [97]:
rand_df[rand_df.A > 0] #A값이 0보다 큰 행만 지정

                   A         B         C         D         E
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338
2022-12-31  0.905034  0.940234 -1.147800 -1.811143 -0.661600
2024-12-31  1.758679 -0.192060 -0.287262 -1.319049 -0.720603

In [101]:
rand_df[rand_df.B > 0]['A']

2019-12-31   -0.431445
2022-12-31    0.905034
Freq: 3A-DEC, Name: A, dtype: float64

#### modify df

In [104]:
rand_df

                   A         B         C         D         E
2019-12-31 -0.431445  1.721107  0.501897 -0.323650  0.221939
2020-12-31  0.954124 -0.504350  1.816743  0.647114  0.651512
2021-12-31  1.076527 -1.649536  1.616412  1.381272  0.947338
2022-12-31  0.905034  0.940234 -1.147800 -1.811143 -0.661600
2023-12-31 -1.453631 -0.348765  1.305499 -1.594768  1.088734
2024-12-31  1.758679 -0.192060 -0.287262 -1.319049 -0.720603

In [105]:
#전치
rand_df.T

   2019-12-31  2020-12-31  2021-12-31  2022-12-31  2023-12-31  2024-12-31
A   -0.431445    0.954124    1.076527    0.905034   -1.453631    1.758679
B    1.721107   -0.504350   -1.649536    0.940234   -0.348765   -0.192060
C    0.501897    1.816743    1.616412   -1.147800    1.305499   -0.287262
D   -0.323650    0.647114    1.381272   -1.811143   -1.594768   -1.319049
E    0.221939    0.651512    0.947338   -0.661600    1.088734   -0.720603

In [109]:
#열 순서 변경
col = list(rand_df)
col

['A', 'B', 'C', 'D', 'E']

In [110]:
#'A' 'E', 'B', 'C', 'D'
col.insert(1, col.pop())
col

['A', 'E', 'B', 'C', 'D']

In [113]:
rand_df = rand_df[col]
rand_df

                   A         E         B         C         D
2019-12-31 -0.431445  0.221939  1.721107  0.501897 -0.323650
2020-12-31  0.954124  0.651512 -0.504350  1.816743  0.647114
2021-12-31  1.076527  0.947338 -1.649536  1.616412  1.381272
2022-12-31  0.905034 -0.661600  0.940234 -1.147800 -1.811143
2023-12-31 -1.453631  1.088734 -0.348765  1.305499 -1.594768
2024-12-31  1.758679 -0.720603 -0.192060 -0.287262 -1.319049

In [117]:
rand_df.iloc[0] = 5.0 #값 변경
rand_df

                   A         E         B         C         D
2019-12-31  5.000000  5.000000  5.000000  5.000000  5.000000
2020-12-31  0.954124  0.651512 -0.504350  1.816743  0.647114
2021-12-31  1.076527  0.947338 -1.649536  1.616412  1.381272
2022-12-31  0.905034 -0.661600  0.940234 -1.147800 -1.811143
2023-12-31 -1.453631  1.088734 -0.348765  1.305499 -1.594768
2024-12-31  1.758679 -0.720603 -0.192060 -0.287262 -1.319049

In [121]:
np.nan # not a number => 결측치

nan

In [122]:
rand_df.iloc[3] = np.nan
rand_df

                   A         E         B         C         D
2019-12-31  5.000000  5.000000  5.000000  5.000000  5.000000
2020-12-31  0.954124  0.651512 -0.504350  1.816743  0.647114
2021-12-31  1.076527  0.947338 -1.649536  1.616412  1.381272
2022-12-31       NaN       NaN       NaN       NaN       NaN
2023-12-31 -1.453631  1.088734 -0.348765  1.305499 -1.594768
2024-12-31  1.758679 -0.720603 -0.192060 -0.287262 -1.319049

In [129]:
#결측치 지우기
rand_df = rand_df.dropna()
rand_df

                            A         E         B         C         D
2019-12-31 00:00:00  5.000000  5.000000  5.000000  5.000000  5.000000
2020-12-31 00:00:00  0.954124  0.651512 -0.504350  1.816743  0.647114
2021-12-31 00:00:00  1.076527  0.947338 -1.649536  1.616412  1.381272
2024-12-31 00:00:00  1.758679 -0.720603 -0.192060 -0.287262 -1.319049

In [130]:
rand_df.iloc[3] = np.nan
rand_df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                            A         E         B         C         D
2019-12-31 00:00:00  5.000000  5.000000  5.000000  5.000000  5.000000
2020-12-31 00:00:00  0.954124  0.651512 -0.504350  1.816743  0.647114
2021-12-31 00:00:00  1.076527  0.947338 -1.649536  1.616412  1.381272
2024-12-31 00:00:00       NaN       NaN       NaN       NaN       NaN

In [132]:
rand_df = rand_df.fillna(10.0)
rand_df

                             A          E          B          C          D
2019-12-31 00:00:00   5.000000   5.000000   5.000000   5.000000   5.000000
2020-12-31 00:00:00   0.954124   0.651512  -0.504350   1.816743   0.647114
2021-12-31 00:00:00   1.076527   0.947338  -1.649536   1.616412   1.381272
2024-12-31 00:00:00  10.000000  10.000000  10.000000  10.000000  10.000000

In [134]:
rand_df.isna() #결측치 여부 확인

                         A      E      B      C      D
2019-12-31 00:00:00  False  False  False  False  False
2020-12-31 00:00:00  False  False  False  False  False
2021-12-31 00:00:00  False  False  False  False  False
2024-12-31 00:00:00  False  False  False  False  False

#### Operation (연산)

In [143]:
rand_df.mean(axis=0) #열 기준 평균

A    4.257663
E    4.149713
B    3.211529
C    4.608289
D    4.257097
dtype: float64

In [140]:
rand_df.mean().mean()

4.096857871173322

In [145]:
#행기준 평균
rand_df.mean(1) #axis=1

2019-12-31     5.000000
2020-12-31     0.713029
2021-12-31     0.674403
2024-12-31    10.000000
dtype: float64

In [148]:
#apply를 이용해, 함수 도입 가능
rand_df.apply(np.cumsum) #cumsum = 누적합

                    A          E          B          C          D
2019-12-31   5.000000   5.000000   5.000000   5.000000   5.000000
2020-12-31   5.954124   5.651512   4.495650   6.816743   5.647114
2021-12-31   7.030652   6.598850   2.846114   8.433155   7.028386
2024-12-31  17.030652  16.598850  12.846114  18.433155  17.028386

In [152]:
#series의 value별 갯수 계산
rand_df['A'].value_counts()

1.076527     1
0.954124     1
10.000000    1
5.000000     1
Name: A, dtype: int64

In [154]:
movie_df['genre'].value_counts()

adventure    4
Name: genre, dtype: int64

In [156]:
#정렬
rand_df.sort_values('A') #오름차순

                             A          E          B          C          D
2020-12-31 00:00:00   0.954124   0.651512  -0.504350   1.816743   0.647114
2021-12-31 00:00:00   1.076527   0.947338  -1.649536   1.616412   1.381272
2019-12-31 00:00:00   5.000000   5.000000   5.000000   5.000000   5.000000
2024-12-31 00:00:00  10.000000  10.000000  10.000000  10.000000  10.000000

In [158]:
rand_df.sort_values('A', ascending=False) #내림차순

                             A          E          B          C          D
2024-12-31 00:00:00  10.000000  10.000000  10.000000  10.000000  10.000000
2019-12-31 00:00:00   5.000000   5.000000   5.000000   5.000000   5.000000
2021-12-31 00:00:00   1.076527   0.947338  -1.649536   1.616412   1.381272
2020-12-31 00:00:00   0.954124   0.651512  -0.504350   1.816743   0.647114

In [161]:
rand_df.sort_values('A', ascending=False) #내림차순

                             A          E          B          C          D
2024-12-31 00:00:00  10.000000  10.000000  10.000000  10.000000  10.000000
2019-12-31 00:00:00   5.000000   5.000000   5.000000   5.000000   5.000000
2021-12-31 00:00:00   1.076527   0.947338  -1.649536   1.616412   1.381272
2020-12-31 00:00:00   0.954124   0.651512  -0.504350   1.816743   0.647114

#### 외부 파일 읽어들이기

In [173]:
sample_exel = pd.read_excel('sample_exel.xlsx')
sample_exel.head()

       dates  price
0 2019-01-01     10
1 2019-01-02     11
2 2019-01-03     12
3 2019-01-04     13
4 2019-01-05     14

In [170]:
sample_exel.to_excel('copy_exel.xlsx', encoding='UTF-8')

In [175]:
sample_exel.to_csv('copy_exel.csv', encoding='UTF-8', index=False)

In [176]:
sample_csv = pd.read_csv('copy_exel.csv')
sample_csv

         dates  price
0   2019-01-01     10
1   2019-01-02     11
2   2019-01-03     12
3   2019-01-04     13
4   2019-01-05     14
5   2019-01-06     15
6   2019-01-07     16
7   2019-01-08     17
8   2019-01-09     18
9   2019-01-10     19
10  2019-01-11     20
11  2019-01-12     21
12  2019-01-13     22
13  2019-01-14     23
14  2019-01-15     24
15  2019-01-16     25
16  2019-01-17     26
17  2019-01-18     27
18  2019-01-19     28
19  2019-01-20     29
20  2019-01-21     30
21  2019-01-22     31
22  2019-01-23     32
23  2019-01-24     33
24  2019-01-25     34
25  2019-01-26     35
26  2019-01-27     36
27  2019-01-28     37
28  2019-01-29     38
29  2019-01-30     39