### PANDAS

###### pandas 기본

Series

In [2]:
import numpy as np
import pandas as pd

In [3]:
array = np.array([1, 2, 3], dtype='i')
series = pd.Series(array, index=['A', 'B', 'C', 'D', 'E'])
series

ValueError: Length of passed values is 3, index implies 5

열 지정

In [ ]:
df[0]

행 지정

In [ ]:
df.iloc[0]

In [4]:
df.loc[0]

NameError: name 'df' is not defined

In [5]:
df.ix[0]

NameError: name 'df' is not defined

데이터 지정

In [6]:
df

NameError: name 'df' is not defined

In [7]:
df[0][1]

NameError: name 'df' is not defined

In [8]:
df[0].iloc[1]

NameError: name 'df' is not defined

In [9]:
df[0].loc[1]

NameError: name 'df' is not defined

In [10]:
df[0].ix[1]

NameError: name 'df' is not defined

In [52]:
df.iloc[0, 1]

2

In [53]:
df.iloc[1, 0]

4

In [54]:
df.iloc[1][0]

4

In [6]:
arr = np.random.randint(1, 100, size=(3, 5))
arr

array([[88, 47,  2, 81, 94],
       [55, 82, 20, 80, 62],
       [63, 94,  1, 59, 37]])

In [7]:
df = pd.DataFrame(arr, columns = ['a', 'b', 'c', 'd', 'e'], index = ['id1', 'id2', 'id3'])
df

      a   b   c   d   e
id1  88  47   2  81  94
id2  55  82  20  80  62
id3  63  94   1  59  37

###### 열 순서 변경

In [1]:
df = pd.DataFrame(data=np.random(1, 4, 15).reshape(3, 5), index=['a', 'b', 'c'], columns=[1, 2, 3, 4, 5])
df

NameError: name 'pd' is not defined

In [146]:
cols = list(df)
cols

['a', 'b', 'c']

In [147]:
cols.insert(0, cols.pop(cols.index(1)))

ValueError: 1 is not in list

In [8]:
cols

[1, 0, 2]

In [9]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [10]:
df = df.ix[:, cols]

/anaconda3/envs/test/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [11]:
df

   1  0  2
0  2  1  3
1  5  4  6

In [107]:
df1 = pd.DataFrame([[str(1), '1'],['1.1', '1,000']])
df1

     0      1
0    1      1
1  1.1  1,000

In [113]:
df1.stack()

0  0        1
   1        1
1  0      1.1
   1    1,000
dtype: object

In [112]:
df1.stack().str.replace(',','').unstack()

     0     1
0    1     1
1  1.1  1000

In [115]:
df1[0].astype(str)

0      1
1    1.1
Name: 0, dtype: object

In [117]:
df1[0].astype(float)

0    1.0
1    1.1
Name: 0, dtype: float64

In [142]:
mul_index = pd.MultiIndex.from_tuples([('category', 'cate1', '1'), ('category', 'cate1', '2'), 
                                                               ('category', 'cate2', '1'), ('category', 'cate2', '2')])
mul_col = [['plan','plan','plan','plan'],['input','input','output','output'],[1,2,1,2]]

In [143]:
df_ex = pd.DataFrame(data=np.random.randint(1, 10, 16).reshape(4,4),
                                    index=mul_index, columns=mul_col)
df_ex

                  plan
                 input    output
                     1  2      1  2
category cate1 1     2  8      1  5
               2     9  2      4  9
         cate2 1     2  2      5  2
               2     8  9      8  8

In [11]:
df_ex.sort_values(df_ex['1'])

NameError: name 'df_ex' is not defined

#### 외부 파일 읽어들이기

In [22]:
sample_excel = pd.read_excel('../sample_xlsx.xlsx')
sample_excel.head()

       dates  price
0 2019-01-01     10
1 2019-01-02     11
2 2019-01-03     12
3 2019-01-04     13
4 2019-01-05     14

In [23]:
sample_excel.to_excel('copy_xlsx.xlsx', encoding='utf-8')

In [24]:
sample_excel.to_csv('../copy_xlsx.csv', encoding = 'utf-8')
sample_csv

NameError: name 'sample_csv' is not defined